{% extends 'base.html' %}
{% load static %}

{% block content%}

{% include 'account/snippets/style.html' %}

<style type="text/css">
	a{
		color: #5bc0de;
		text-decoration: none;
	}
</style>


<form class="form-signin" method="post">{% csrf_token %}

	<div class="d-flex flex-column pb-3">
    	<img class="img-fluid mx-auto d-block" src="{% static 'logo.png' %}" height="1000" width="1000">
  	</div>

	<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

	<input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>  

	<input type="text" name="phone" id="inputPhone" class="form-control" placeholder="Phone Number" required autofocus>  

	<input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required>

	<input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm password" required>

	{% for field in registration_form %}
	  <p>
	    {% for error in field.errors %}
	      <p style="color: red">{{ error }}</p>
	    {% endfor %}
	  </p>
	{% endfor %}
	{% if registration_form.non_field_errors %}
		<div style="color: red">
		  <p>{{registration_form.non_field_errors}}</p>
		</div>  
	{% endif %}

	<button class="btn btn-lg btn-info btn-block" type="submit">S'inscrire</button>

</form>

<div class="d-flex flex-column ">
  <p class="m-auto link-info"> already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>

{% endblock content%}